# Alertmanager告警提示
告警标题： **{{ alert_name }}**
[来源URL]({{ external_url }})

{% for msg in alert_messages %}
## 告警
### Labels
{% for key, value in msg.labels.items() %}
> **{{key}}：** `{{value}}` {% endfor %}

### Annotations
> **信息：** {{msg.annotations.message}}
> **开始时间：** {{ msg.startsAt }}
> **结束时间：** {{ msg.startsAt }}

{% endfor %}