**==== {{ alert_name }} ====**
告警类型【{{ alert_status }}】数量【{{ alert_num }}】
[在Alertmanager里查看此告警]({{ external_url }})
{% for msg in alert_messages %}
**==== Labels ====**
{% for key, value in msg.labels.items() %}
{{key}} = {{value}} {% endfor %}
**==== Annotations ====**
{% for key, value in msg.annotations.items() %}
{{key}} = {{value}}{% endfor %}
startsAt = {{ msg.startsAt }}
endsAt = {{ msg.endsAt }}
{% endfor %}